@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); /* Pixel art font */

* {
  font-family: 'Poppins', sans-serif;
}

body {
  text-align: center;
  background-color: ghostwhite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  position: fixed;
  width: 100%;
}

#menu {
  margin-bottom: 20px;
}

#scores {
  margin-bottom: 20px;
}

#scores span {
  font-size: 24px;
  margin: 0 20px;
  font-family: 'Press Start 2P', cursive; /* Use pixel art font */
}

canvas {
  border: 2px solid black; /* Add this line to draw a border around the canvas */
  background-color: black; /* Set the canvas background to black */
}

#winningScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  font-family: 'Press Start 2P', cursive; /* Use pixel art font */
  font-size: 48px;
  margin-bottom: 20px;
}

#startButton, #restartButton {
  font-family: 'Press Start 2P', cursive; /* Use pixel art font */
  font-size: 24px;
  padding: 15px 30px;
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#startButton:hover, #restartButton:hover {
  background-color: #fff;
  color: #000;
}
